<div class="manage-main-container">
  <div class="row">
    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
    <div class="col-sm-3">
      <div class="list-group">
        <a routerLinkActive="list-group-item-success" [ngClass]="{ 'disabled': !permission.includes('visitor:manage')}" routerLink="visitortable" class="list-group-item ">访客记录</a>
        <a routerLinkActive="list-group-item-success" [ngClass]="{ 'disabled': !permission.includes('post:manage')}" routerLink="posttable" class="list-group-item">文章管理</a>
        <a routerLinkActive="list-group-item-success" [ngClass]="{ 'disabled': !permission.includes('comment:manage')}" routerLink="commenttable" class="list-group-item">评论管理</a>
        <a routerLinkActive="list-group-item-success" [ngClass]="{ 'disabled': !permission.includes('user:manage')}" routerLink="usertable" class="list-group-item">用户管理</a>
      </div>
    </div>
  </div>
</div>
