<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mahui53541.blog.mapper.CommentMapper">
    <resultMap id="BaseResultMap" type="com.github.mahui53541.blog.po.Comment">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="content" jdbcType="LONGVARCHAR" property="content" />
        <result column="comment_time" jdbcType="TIMESTAMP" property="commentTime" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="re_name" jdbcType="VARCHAR" property="reName"/>
        <association property="user" column="open_id"
                     select="com.github.mahui53541.blog.mapper.UserMapper.selectByOpenID"
                     javaType="com.github.mahui53541.blog.po.User">
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        id,content,comment_time, status,re_name,open_id
    </sql>
    <select id="findAll" databaseId="mysql" resultMap="BaseResultMap">
        SELECT * FROM comment
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" databaseId="mysql">
        select * from comment where id = #{id}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" databaseId="mysql">
        delete from comment where id = #{id}
    </delete>

    <insert id="insertSelective" parameterType="Comment" useGeneratedKeys="true" keyProperty="id" databaseId="mysql">
        insert into comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="content!= null">
                content,
            </if>
            <if test="commentTime!= null">
                comment_time,
            </if>
            <if test="status!= null">
                status,
            </if>
            <if test="reName!=null and reName!=''">
                re_name,
            </if>
            <if test="user!=null">
                open_id,
            </if>
            <if test="post!= null">
                post_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="content!= null">
                #{content},
            </if>
            <if test="commentTime!= null">
                #{commentTime},
            </if>
            <if test="status!= null">
                #{status},
            </if>
            <if test="reName!=null and reName!=''">
                #{reName},
            </if>
            <if test="user!=null">
                #{user.openId},
            </if>
            <if test="post!= null">
                #{post.id},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="Comment">
        update comment
        <set>
            <if test="content!= null">
                content=#{content},
            </if>
            <if test="status!= null">
                status=#{status},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectByPostId" resultMap="BaseResultMap" databaseId="mysql">
        select <include refid="Base_Column_List" /> from comment where status!=0
        <if test="postId !=null and postId>0">
            and post_id=#{postId,jdbcType=INTEGER}
        </if>
        order by status desc,comment_time desc
    </select>
</mapper>