<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mahui53541.blog.mapper.PictureMapper">
    <resultMap id="BaseResultMap" type="com.github.mahui53541.blog.po.Picture">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
        <result column="picture_name" jdbcType="VARCHAR" property="pictureName" />
        <result column="picture_url" jdbcType="VARCHAR" property="pictureUrl" />
    </resultMap>

    <select id="findAll" databaseId="mysql" resultMap="BaseResultMap">
        SELECT * FROM picture
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" databaseId="mysql">
        select * from picture where id = #{id}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" databaseId="mysql">
        delete from picture where id = #{id}
    </delete>

    <insert id="insertSelective" parameterType="Picture" useGeneratedKeys="true" keyProperty="id" databaseId="mysql">
        insert into picture
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uploadTime!= null">
                upload_time,
            </if>
            <if test="pictureName!= null">
                picture_name,
            </if>
            <if test="pictureUrl!= null">
                picture_url,
            </if>
            <if test="user!= null">
                open_id,
            </if>
            <if test="post!= null">
                post_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uploadTime!= null">
                #{uploadTime},
            </if>
            <if test="pictureName!= null">
                #{pictureName},
            </if>
            <if test="pictureUrl!= null">
                #{pictureUrl},
            </if>
            <if test="user!= null">
                #{user.openId},
            </if>
            <if test="post!= null">
                #{post.id},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="Picture">
        update post
        <set>
            <if test="uploadTime!= null">
                upload_time=#{uploadTime},
            </if>
            <if test="pictureName!= null">
                picture_name#{pictureName},
            </if>
            <if test="pictureUrl!= null">
                picture_url=#{pictureUrl},
            </if>
            <if test="user!= null">
                open_id=#{user.openId},
            </if>
            <if test="post!= null">
                post=#{post.id},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>