<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mahui53541.blog.mapper.PostMapper">
    <resultMap id="BaseResultMap" type="com.github.mahui53541.blog.po.Post">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="post_time" jdbcType="TIMESTAMP" property="postTime" />
        <result column="post_type" jdbcType="TINYINT" property="postType" />
        <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
        <result column="read_times" jdbcType="INTEGER" property="readTimes" />
        <result column="comment_times" jdbcType="INTEGER" property="commentTimes" />
        <result column="enable_comment" jdbcType="BIT" property="enableComment" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <association property="user" column="user_id"
                     select="com.github.mahui53541.blog.mapper.UserMapper.selectByPrimaryKey"
                     javaType="com.github.mahui53541.blog.po.User">
        </association>
    </resultMap>
    <resultMap id="ResultMapWithContent" type="com.github.mahui53541.blog.po.Post" extends="BaseResultMap">
        <result column="post_content" property="postContent" jdbcType="LONGVARCHAR" />
    </resultMap>

    <sql id="Base_Column_List">
        id,title,post_time,post_type, last_modify_time, read_times,comment_times, status,enable_comment,user_id
    </sql>

    <sql id="Blob_Column_List">
        post_content
    </sql>

    <select id="findAll" databaseId="mysql" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" /> FROM post
    </select>

    <select id="selectByPrimaryKey" resultMap="ResultMapWithContent" parameterType="java.lang.Integer" databaseId="mysql">
        select
        <include refid="Base_Column_List" />,
        <include refid="Blob_Column_List" />
        from post where id = #{id}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" databaseId="mysql">
        delete from post where id = #{id}
    </delete>

    <insert id="insertSelective" parameterType="Post" useGeneratedKeys="true" keyProperty="id" databaseId="mysql">
        insert into post
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title!= null">
                title,
            </if>
            <if test="postContent!=null">
                post_content,
            </if>
            <if test="postTime!= null">
                post_time,
            </if>
            <if test="postType!= null">
                post_type,
            </if>
            <if test="lastModifyTime!=null">
                last_modify_time,
            </if>
            <if test="readTimes!=null">
                read_times,
            </if>
            <if test="commentTimes!=null">
                comment_times,
            </if>
            <if test="status!=null">
                status,
            </if>
            <if test="enableComment != null">
                enable_comment,
            </if>
            <if test="category!=null">
                category_id,
            </if>
            <if test="user!=null">
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title!= null">
                #{title},
            </if>
            <if test="postContent!=null">
                #{postContent},
            </if>
            <if test="postTime!= null">
                #{postTime},
            </if>
            <if test="postType!= null">
                #{postType},
            </if>
            <if test="lastModifyTime!=null">
                #{lastModifyTime},
            </if>
            <if test="readTimes!=null">
                #{readTimes},
            </if>
            <if test="commentTimes!=null">
                #{commentTimes},
            </if>
            <if test="status!=null">
                #{status},
            </if>
            <if test="enableComment != null">
                #{enableComment},
            </if>
            <if test="category!=null">
                #{category.id},
            </if>
            <if test="user!=null">
                #{user.id},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="Post">
        update post
        <set>
            <if test="title!= null">
                title=#{title},
            </if>
            <if test="postTime!= null">
                post_time=#{postTime},
            </if>
            <if test="postType!= null">
                post_type=#{postType},
            </if>
            <if test="lastModifyTime!=null">
                last_modify_time=#{lastModifyTime},
            </if>
            <if test="readTimes!=null">
                read_times=#{readTimes},
            </if>
            <if test="commentTimes!=null">
                comment_times=#{commentTimes},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
            <if test="enableComment != null">
                enable_comment=#{enableComment},
            </if>
            <if test="category!=null">
                category_id=#{category.id},
            </if>
            <if test="user!=null">
                user_id=#{user.id},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="queryByPage" resultMap="BaseResultMap" databaseId="mysql">
        select <include refid="Base_Column_List" /> from post where status!=0 and status!=3
        <if test="categoryId !=null and categoryId>0">
            and category_id=#{categoryId,jdbcType=INTEGER}
        </if>
        <if test="searchText != null and searchText!=''">
            and (title like CONCAT('%',#{searchText,jdbcType=VARCHAR},'%'))
        </if>
        order by status desc,POST_TIME desc
    </select>

    <!--根据categoryID查询个数-->
    <select id="countByCategoryId" resultType="java.lang.Integer" parameterType="java.lang.Integer" databaseId="mysql">
        select count(*) from post where status!=0 and status!=3 and category_id = #{categoryId}
    </select>

    <update id="readTimesPlusOne" parameterType="java.lang.Integer">
        update post set read_times=post.read_times+1 where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="commentTimesPlusOne" parameterType="java.lang.Integer">
        update post set comment_times=post.comment_times+1 where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>