<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mahui53541.blog.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.github.mahui53541.blog.po.Role">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="role_name" jdbcType="VARCHAR" property="roleName" />
        <result column="role_type" jdbcType="TINYINT" property="roleType" />
    </resultMap>

    <sql id="Base_Column_List">
        id,role_name, role_type
    </sql>

    <select id="findAll" databaseId="mysql" resultMap="BaseResultMap">
        SELECT * FROM role
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" databaseId="mysql">
        select * from role where id = #{id}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" databaseId="mysql">
        delete from role where id = #{id}
    </delete>

    <insert id="insertSelective" parameterType="Role" useGeneratedKeys="true" keyProperty="id" databaseId="mysql">
        insert into role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleName!= null">
                role_name,
            </if>
            <if test="roleType!= null">
                role_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleName!= null">
                #{roleName},
            </if>
            <if test="roleType!= null">
                #{roleType},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="Role">
        update role
        <set>
            <if test="roleName!= null">
                role_name=#{roleName},
            </if>
            <if test="roleType!= null">
                role_type=#{roleType},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectRoleByOpenID" parameterType="String" databaseId="mysql" resultType="String">
        SELECT DISTINCT r.role_name FROM role AS r LEFT JOIN user_role ur ON r.id=ur.role_id LEFT JOIN user u ON ur.open_id = u.open_id
        where u.open_id=#{openId}
    </select>
</mapper>