<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mahui53541.blog.mapper.UserRoleMapper">
    <resultMap id="BaseResultMap" type="com.github.mahui53541.blog.po.UserRole">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="open_id" jdbcType="VARCHAR" property="openId" />
        <result column="role_id" jdbcType="INTEGER" property="roleId" />
    </resultMap>

    <sql id="Base_Column_List">
        id,open_id, role_id
    </sql>

    <select id="findAll" databaseId="mysql" resultMap="BaseResultMap">
        SELECT * FROM user_role
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" databaseId="mysql">
        select * from user_role where id = #{id}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" databaseId="mysql">
        delete from user_role where id = #{id}
    </delete>

    <insert id="insertSelective" parameterType="UserRole" useGeneratedKeys="true" keyProperty="id" databaseId="mysql">
        insert into user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="openId!= null">
                open_id,
            </if>
            <if test="roleId!= null">
                role_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="openId!= null">
                #{openId},
            </if>
            <if test="roleId!= null">
                #{roleId},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="UserRole">
        update user_role
        <set>
            <if test="openId!= null">
                open_id=#{openId},
            </if>
            <if test="roleId!= null">
                role_id=#{roleId},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>