<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mahui53541.blog.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.github.mahui53541.blog.po.User">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
        <result column="avatar_url30" jdbcType="VARCHAR" property="avatarURL30" />
        <result column="avatar_url50" jdbcType="VARCHAR" property="avatarURL50" />
        <result column="avatar_url100" jdbcType="VARCHAR" property="avatarURL100" />
        <result column="gender" jdbcType="CHAR" property="gender" />
        <result column="open_id" jdbcType="VARCHAR" property="openId" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="disabled_time" jdbcType="TIMESTAMP" property="disabledTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,nick_name,avatar_url30,avatar_url50,avatar_url100, gender, open_id, status, disabled_time
    </sql>

    <select id="findAll" databaseId="mysql" resultMap="BaseResultMap">
        SELECT * FROM user
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" databaseId="mysql">
        select * from user where id = #{id}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" databaseId="mysql">
        delete from user where id = #{id}
    </delete>

    <insert id="insertSelective" parameterType="User" useGeneratedKeys="true" keyProperty="id" databaseId="mysql">
        <!--<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">-->
            <!--SELECT LAST_INSERT_ID() AS id-->
        <!--</selectKey>-->
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="nickName!= null">
                nick_name,
            </if>
            <if test="avatarURL30!= null">
                avatar_url30,
            </if>
            <if test="avatarURL50!= null">
                avatar_url50,
            </if>
            <if test="avatarURL100!= null">
              avatar_url100,
            </if>
            <if test="gender!= null">
                gender,
            </if>
            <if test="openId!=null">
                open_id,
            </if>
            <if test="status!= null">
                status,
            </if>
            <if test="disabledTime != null">
                disabled_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="nickName != null">
                #{nickName},
            </if>
            <if test="avatarURL30!= null">
                #{avatarURL30},
            </if>
            <if test="avatarURL50!= null">
                #{avatarURL50},
            </if>
            <if test="avatarURL100!= null">
                #{avatarURL100},
            </if>
            <if test="gender!= null">
                #{gender},
            </if>
            <if test="openId!=null">
                #{openId},
            </if>
            <if test="status!= null">
                #{status},
            </if>
            <if test="disabledTime!= null">
                #{disabledTime},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="User">
        update user
        <set>
            <if test="nickName != null">
                nick_name=#{nickName},
            </if>
            <if test="avatarURL30!= null">
                avatar_url30=#{avatarURL30},
            </if>
            <if test="avatarURL50!= null">
                avatar_url50=#{avatarURL50},
            </if>
            <if test="avatarURL100!= null">
                avatar_url100=#{avatarURL100},
            </if>
            <if test="gender != null">
                gender=#{gender},
            </if>
            <if test="openId!=null">
                open_id=#{openId},
            </if>
            <if test="status != null">
                status=#{status},
            </if>
            <if test="disabledTime != null">
                disabled_time=#{disabledTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectByOpenID" resultMap="BaseResultMap" parameterType="java.lang.String" databaseId="mysql">
        select * from user where open_id = #{openId}
    </select>
</mapper>