.info{
  padding: 5px 0px;
  border-bottom: 1px dashed #d9d9d9;
}
.post-list-container{
  padding: 20px;
  border: 1px solid #D0D0D0;
  border-radius: 5px;
  background-color: #FFF;

}

.mypost{
  line-height:1.5;
  text-decoration: none;
  color: #333333;
  font-weight: 600;
}

.mypost:hover,
.mypost:focus {
  color: #BE0000;
}
