<div class="post-list-container">
  <form class="form-vertical" role="form">
    <div class="row">
      <div class="col-sm-10">
        <div class="input-group">
          <input class="form-control" type="text" placeholder="{{'search' | translate}}" [(ngModel)]="searchText" (keyup)="searchChanged($event)" (change)="searchChanged($event)" id="searchText" name="searchText">
          <span class="input-group-btn">
              <button class="btn btn-default" type="button" (click)="searchChanged($event)"><i class="fa fa-search" aria-hidden="true"></i> {{'search' | translate}}</button>
          </span>
        </div>
      </div>

    </div>
  </form>
  <div class="row">
    <div class="col-sm-12">
      <div class="post-item-container" *ngFor="let post of postList">
        <h4>
          <div class="row">
            <div class="col-xs-9 col-sm-9 col-md-10">
              <a class="mypost" [routerLink]="['/post/postdetail',post.id]">{{post.title}}</a>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-2">
              <span *ngIf="post.status==2" class="label label-success">{{'post.sticky' | translate}}</span>
            </div>
          </div>
        </h4>
        <div class="row info">
          <div class="col-xs-4 col-sm-2 col-md-2">
            <i class="fa fa-comment" aria-hidden="true"></i>&nbsp;{{post.commentTimes}}
          </div>
          <div class="col-xs-8 col-sm-2 col-md-2">
            <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{{post.readTimes}}
          </div>
          <div class="col-xs-4 col-sm-2 col-md-2">
            {{post.user.nickName }}
          </div>
          <div class="col-xs-8 col-sm-4 col-md-3">
            {{post.postTime}}
          </div>
        </div>
      </div>
      <pagination [totalItems]="totalItems" [(ngModel)]="currentPage"
                  [maxSize]="maxSize" class="pagination-sm" [itemsPerPage]="itemsPerPage"
                  (pageChanged)="pageChanged($event)" [boundaryLinks]="true"
                  [rotate]="false" (numPages)="numPages = $event"
                  firstText="{{'firstPage' | translate}}" lastText="{{'lastPage' | translate}}"
                  previousText="{{'previousPage' | translate}}" nextText="{{'nextPage' | translate}}"
      >

      </pagination>
    </div>
  </div>
</div>


