<div class="visitor-table-container" [@flyIn]="'in'">
  <p-dataTable [value]="visitors" [lazy]="true" [rows]="10" [paginator]="true"
               [rowsPerPageOptions]="[10,20,50]"
               [totalRecords]="totalRecords" (onLazyLoad)="loadVisitorsLazy($event)">
    <p-header>访客记录</p-header>
    <p-column field="id" header="ID" [hidden]="true"></p-column>
    <p-column field="nickName" header="用户昵称" [style]="setStyles()"></p-column>
    <p-column field="visitDate" header="访问时间" [style]="setStyles()"></p-column>
    <p-column field="outDate" header="退出时间" [style]="setStyles()"></p-column>
  </p-dataTable>
</div>

