<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
			            http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
			            http://www.springframework.org/schema/context
			            http://www.springframework.org/schema/context/spring-context-4.3.xsd
			            http://www.springframework.org/schema/tx
                       http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<!-- 扫描com.github.mahui53541.atm包下面的java文件，有Spring的相关注解的类，则把这些类注册为Spring的bean -->
    <!--<context:component-scan base-package="com.github.mahui53541.atm"/>-->
	<!-- 扫描注解，除去web层注解，web层注解在mvc配置中扫描 -->
	<context:component-scan
			base-package="com.github.mahui53541.blog">
		<context:exclude-filter type="annotation"
								expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation"
								expression="org.springframework.web.bind.annotation.RestController" />
	</context:component-scan>
    <!--导入Mybatis配置文件-->
	<import resource="spring-mybatis-config.xml" />

	<!--导入shiro配置文件-->
	<import resource="spring-shiro-config.xml" />

	<!-- 启用支持annotation注解方式事务管理 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>

</beans>