/* You can add global styles to this file, and also import other style files */
* {
  font-family: '微软雅黑', Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow: auto;
  font-family: '微软雅黑', Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background: url("assets/images/bg.png") no-repeat center top;
  background-size:105%;
}

html {
  min-height: 100%;
  position: relative;
  padding-bottom: 70px;
}
