.comment-item-container {
  padding: 15px 0px;
  border-bottom: 1px dashed #d9d9d9;
}
.commenter{
  color: #8C92A4;
}
.foot-btn{
  text-align: center;
  padding: 10px;
}
.foot-btn ul{
  margin:0 auto;
  width: 80px;
}
.foot-btn a{
  text-decoration: none;
}
